<% provide :title, t("page_title.login") %>
<style>
.center{
  margin: auto;
  width: 25%
}
.field{
  color: #2a2a2a
}
.field label{
  width: 100%
}
.field label input[type = checkbox]{
  width: 2%;
  height: 2%
}
.loginbtn{
  width: 100%
}
.nutphu{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px
}
.nutphu a{
  color: #2a2a2a
}
.nutphu
</style>
<div class="row">
  <div class="center">
    <div style="text-align: center"><h1><%= t "page_title.login" %></h1></div>
    <div class="row">
      <div style="width: 100%">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span style="margin-left: 0px;"> Remember me </span>
              <% end %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit t("page_title.login"), class: "btn btn-primary loginbtn" %>
          </div>
        <% end %>
        <div class="nutphu">
          <%= render "devise/shared/links" %>
          <p>New user? <%= link_to t("page_title.signup"), new_user_registration_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>