<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <div class="site-wrap">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <script src="https://kit.fontawesome.com/e993bc28a5.js" crossorigin="anonymous"></script>
  </body>
</html>
